*{
    padding: 0;
    margin: 0;
}

.header-section {
    display: flex; 
    flex-direction: column;
    position: absolute;
} 
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('/images/header-logo.png');
    background-color: #0E0E0E;
    width: 100%;
    min-height: 23%;
    position: fixed;
    top: 0;
}
.header h1 {
    color: #FFFFFF;
    font-size: 2.69rem;
}
.header button {
    background: transparent;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.header button:hover,
.header button:focus {
    color: #c2c2c2;
}
.movie-logo {
    display: grid;
    place-items: center;
    position: fixed;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media (max-width: 600px) {
    .header-section {
        
        height: .5px;
    }
}